<p>Política de privacidad de CESEONLINE, SA

    Esta Política de privacidad describe cómo se recopila, utiliza su información personal cuando visita logfel.ceseonline.com.gt (denominado en lo sucesivo el “Sitio”).
    
    INFORMACIÓN PERSONAL QUE RECOPILAMOS
    
    Cuando visita el Sitio, recopilamos automáticamente y durante el proceso de personalización del documento algunos de los datos de su almacenamiento local que están en su dispositivo.
    
    Recopilamos Información del dispositivo mediante el uso de las siguientes tecnologías:
    
    ALMACENAMIENTO LOCAL 
    
    TOKEN:
    Nos permite poder enviar consultas para la ejecución de la Aplicación. 
    USUER-ID:
    Nos permite identificarlo dentro de la aplicación para enviar consultas. 
    
    ¿CÓMO UTILIZAMOS SU INFORMACIÓN PERSONAL?
    
    Durante el uso de la aplicación utilizamos su información personal para la personalización del documento. 
    
    COMPARTIR SU INFORMACIÓN PERSONAL
    
    No compartimos su Información personal con terceros. 
    
    NO RASTREAR
    
    Tenga en cuenta que no alteramos las prácticas de recopilación y uso de datos de nuestro Sitio cuando vemos una señal de No rastrear desde su navegador.
    
    
    
    
    
    
    RETENCIÓN DE DATOS
    
    Cuando personaliza su documento a través del Sitio, mantendremos su Información del documento para nuestros registros por un lapso no mayor de 31 días hábiles o hasta que nos pida que eliminemos esta información.
    
    MENORES
    
    El sitio no está destinado a personas menores de 18 años.
    
    CAMBIOS
    
    Podemos actualizar esta política de privacidad periódicamente para reflejar, por ejemplo, cambios en nuestras prácticas o por otros motivos operativos, legales o reglamentarios.
    CONTÁCTENOS
    
    Para obtener más información sobre nuestras prácticas de privacidad, si tiene alguna pregunta o si desea presentar una queja, contáctenos por correo electrónico a info@ceseonline.com.gt o por correo mediante el uso de la información que se proporciona a continuación:
    </p>
