.file-input{


  display: none
}

.content {
    padding: 16px
}

.content > mat-card{
    width: 400px
}

.mat-card-lg-image{

    width: 350px;
    height: 152px
}

.mat-elevation-z5{
  width: 100%;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px
}

.mat-card-header{
  
  display: block;
  
  flex-direction: row;

  text-align: center
}

.ml-10{

  margin-left: 25px
}

.logo{

  text-align: center

}
.mat-card-title{

    display: block;
  
    margin-bottom: 25px
}

.pdfviewc{

  height: 190vh;
  width: 123vh
}

.mat-card-content{

    text-align: center;
}

.mat-card-actions {

    text-align: center;
}

.mat-mini-fab.mat-warn{

    background-color: #780001;
}