<!--
<mat-card class="mat-elevation-z5">
  
    <div>
      <mat-card-header>
        <mat-card-title>Documentos</mat-card-title>
        <mat-card-subtitle>Selecciones los archivos que desea cargar: </mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="form_carga" (ngSubmit)="onSubmit()">
  
        <mat-card-content>
        <input type="file" name="name_file_fact" (change)="onChange($event)" />
        </mat-card-content>
      
        <mat-card-actions>
        <button  mat-mini-fab color="warn" type="submit"><mat-icon>file_upload</mat-icon></button>
        </mat-card-actions>
      
      </form>
  
    </div>
  </mat-card> -->



  <button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
  </button>
  
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="first_form_group" [editable]="isEditable">
      <mat-card-header>
        <mat-card-title>Documentos</mat-card-title>
        <mat-card-subtitle>Selecciones los archivos que desea cargar: </mat-card-subtitle>
      </mat-card-header>
    
      <form [formGroup]="first_form_group"(ngSubmit)="onSubmit()">
        <mat-card-content>
        <ng-template matStepLabel>Subir Factura</ng-template>
        <input type="file" name="name_file_fact" (change)="onChange($event)" required />
      </mat-card-content>
       
       
        <mat-card-actions>
          
          <button mat-mini-fab color="warn" type="submit"><mat-icon>file_upload</mat-icon></button>
       
          <button mat-raised-button matStepperNext>Siguiente</button>
      </mat-card-actions>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Vista Previa</ng-template>
        <!--!<mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>-->
        <!-- <div *ngIf="response && filetype == 'application/pdf' ">

          <pdf-viewer [src]="fileurl" [render-text]="true" style="display: block;"></pdf-viewer>
        
        </div>
        <ngx-extended-pdf-viewer [src]="fileurl" [useBrowserLocale]="true" height="50vh"></ngx-extended-pdf-viewer>
        -->
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
      <mat-card-header>
        <mat-card-title>Factura</mat-card-title>
        <mat-card-subtitle>Seleccione la posicion del logo: </mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmitfactdir()">
      
      <ng-template matStepLabel>Generar Factura con logo</ng-template>
      <p></p>
      
        <mat-card-actions>
          <div>
        <mat-radio-group aria-label="Seleccion una opcion: " formControlName="direction">
          <mat-radio-button value="izquierda">Izquierda</mat-radio-button>
          <mat-radio-button value="derecha">Derecha</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button mat-mini-fab color="warn" type="submit"><mat-icon>create</mat-icon></button>
      </div>
      </mat-card-actions>
      

      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
      
      </form>
    </mat-step>
    <mat-step>

      <form [formGroup]="fourthFromGroup" (ngSubmit)="onSubmit()">
      
      <ng-template matStepLabel>Factura con logo</ng-template>
      <ngx-extended-pdf-viewer [src]="fileurlback" [useBrowserLocale]="true" height="50vh"></ngx-extended-pdf-viewer>
      
      
      <p></p>
      <div>
        <mat-radio-group aria-label="Seleccion una opcion: ">
          <mat-radio-button value="izquierda">Izquierda</mat-radio-button>
          <mat-radio-button value="derecha">Derecha</mat-radio-button>
        </mat-radio-group>

        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
      </div>
      
      </form>
    </mat-step>
  </mat-stepper>

  <router-outlet></router-outlet>