
<!-- <h1>Subir Documentos</h1>

<div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="file" name="profile" (change)="onChange($event)" />
    
    <button  mat-mini-fab color="warn" type="submit"> <mat-icon>file_upload</mat-icon></button>

  </form>

</div> -->


<mat-card class="mat-elevation-z5">
  
  <div>
    <mat-card-header>
      <mat-card-title>Documentos</mat-card-title>
      <mat-card-subtitle>Selecciones los archivos que desea cargar: </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-card-content>
      <input type="file" name="profile" (change)="onChange($event)" />
      </mat-card-content>
    
      <mat-card-actions>
      <button  mat-mini-fab color="warn" type="submit"><mat-icon>file_upload</mat-icon></button>
      </mat-card-actions>
    
    </form>

  </div>
</mat-card>



<!-- 
<div *ngIf="response && fileURL">

  <pdf-viewer [src]="fileURL" [render-text]="true" style="display: block;"></pdf-viewer>

</div>

<div *ngIf="response && filetype == 'application/pdf' ">

  <pdf-viewer [src]="fileURL" [render-text]="true" style="display: block;"></pdf-viewer>

</div>
 
<div *ngIf="response && filetype == 'image/jpeg' "></div> -->
 

  
 
<!--
<input type="file" class="file-input"
       (change)="capturarFile($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "Aún no se ha subido ningún archivo."}}

    <button mat-mini-fab color="warn" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>


<div>

    <input (change)="capturarFile($event)"type="file">


</div>

<h2>Integrate PDF File Viewer in Angular</h2>

<pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;">
</pdf-viewer> 
fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(67%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)"
-->





<h1 fxHide fxShow.xs>XS</h1>
<h1 fxHide fxShow.sm>SM</h1>
<!-- <h1 fxHide fxShow.md>MD</h1> -->
<h1 fxHide fxShow.lg>LG</h1>
<h1 fxHide fxShow.xl>XL</h1>

<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10" class="logo">
  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
    <mat-card-title>Logo</mat-card-title>
    <mat-card-content>
      <div *ngIf="response && filetype == 'image/jpeg' ">
        <img mat-card-image [src]="fileURL" class="image">
        </div>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  
  <mat-card class="pdfviewc">
    <mat-card-title>Documento Cargado</mat-card-title>
    <div *ngIf="response && fileURL" class="pdfview">
      <pdf-viewer [src]="fileURL" [render-text]="true" style="display: flex;"></pdf-viewer>
    </div>
    <mat-card-content></mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>