/* You can add global styles to this file, and also import other style files */

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-button-wrapper{
    color:#ffffff
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {

    background-color: #780001;
}