<app-header></app-header>

<mat-card class="box">
  
    <mat-card-header>

      <mat-card-title>Bienvenido</mat-card-title>
    
    </mat-card-header>

      <mat-card-content>

      <h3>De forma temporal nuestra opcion de pago es por transferencia.</h3>


      <h1>Banco Industrial</h1>
    <!-- 
      <img src="/assets/images/logobi.png" alt="Banco Industrial" width="25%">

     -->
    
 
  <address>

    <h2>Cuenta Monetaria: 555-001776-7</h2>

    
    <h2>A nombre de: CESEONLINE, SA</h2>

    <h2>Escríbenos un correo a info@ceseonline.com.gt<br><a href="mailto:info@ceseonline.com.gt?subject=Activación%20Usuario&body=Empresa: %20 Usuario: %20">Enviar</a></h2><br> 
    
    <h4>Con el siguiente formato</h4><br>

    <h4>Empresa: </h4><br>

    <h4>Usuario:</h4><br>

    <h4>Adjunta copia del comprobante de la transferencia.</h4>
    
    <h4>Después de recibido el correo, te enviaremos tu factura.<br></h4>

  </address>
  
</mat-card-content>

  </mat-card>