.example-spacer {
    flex: 1 1 auto;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #780001;
    color: white;
    font-weight: 600;
  }


.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}